# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TestProject1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\getaylor\RiderProjects\TestProject1\.idea\.idea.TestProject1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
